/* color variables */

:root {
    --dark: #131a26;
    --primary: #d81e5b;
}


/* body of panel */

.Panel {
    background-color: var(--dark);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40vh;
}


/* user profile */

.Userprofile {
    width: 40%;
    border-radius: 50%;
    margin: 30px 80px;
    display: block;
    border: 6px solid var(--primary);
    cursor: pointer;
}


/* close open of panel */

.CloseOpen {
    color: var(--primary);
    margin: 15% 5%;
    font-size: 25px;
    cursor: pointer;
}