/* color variables */

:root {
    --dark: #131a26;
    --primary: #d81e5b;
}


/* body of panel */

.Panel {
    background-color: var(--dark);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40vh;
    box-shadow: 0px 2px 74px rgba(0, 0, 0, 0.3);
    transition: 2s;
}


/* user profile */

.Userprofile {
    width: 40%;
    border-radius: 50%;
    margin: 30px 80px;
    display: block;
    border: 6px solid var(--primary);
    cursor: pointer;
}


/* CloseOpen button */

.CloseOpen {
    background-color: var(--dark);
    position: absolute;
    top: 0;
    right: 19.5%;
    border-radius: 4px;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.3);
}

.CloseOpen:focus {
    background-color: var(--primary);
    box-shadow: 0px 2px 64px rgba(218, 26, 90, 0.4);
}

@media (max-width:420px) {
    .CloseOpen {
        right: 70%;
    }
}


/* items (Items.jsx) */

.Items {
    list-style: none;
    background-color: var(--primary);
    top: 5vh;
    color: #fff;
    padding: 4.8%;
    margin-top: 2.5px;
    cursor: pointer;
    width: 95%;
    position: relative;
    left: 5%;
    display: block;
    border-radius: 1px;
    transition: 0.6s;
    text-align: right;
    border-right: 2.5px solid #fff;
}

.Items:hover {
    left: 0;
    opacity: 0.8;
}


/* icons */

.Home {
    color: #fff;
    width: 5vh;
    height: 5vh;
    margin-right: 43%;
}

.Icon {
    width: 3vh;
    height: 3vh;
}